<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliyun.sdk.player.aliyunliveshiftplayer">

    <application>

        <activity android:name="com.aliyun.ui.activity.AliyunLiveShiftActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"  />

    </application>

</manifest>